@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bd-color: #fff;
    background-color: var(--bg-color);
}
:root.dark {
    /* 暗色模式下的背景色 */
    --bg-color: #050a1791;
    --bg-color-gray: #f4f4f4;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::view-transition-new(root),
::view-transition-old(root) {
  /* 关闭默认动画，否则影响自定义动画的执行 */
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
    z-index: 1;
}
::view-transition-new(root) {
    z-index: 9999;
}
.dark::view-transition-old(root) {
    z-index: 9999;
}
.dark::view-transition-new(root) {
    z-index: 1;
}
