@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bd-color: #fff;
    --theme-color-100: #fff;
    --theme-color-200: #f0f0f0;
    --codeMirror-fgColor: #c5d1de;
    --codeMirror-bgColor: #22272e;
}

/* 暗色模式下 */
[data-theme="dark"] {
  --theme-color-100: #050a1791;
  --theme-color-200: #22272e;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

.dark::view-transition-old(root) {
  z-index: 9999;
}

.dark::view-transition-new(root) {
  z-index: 1;
}
